/* Colors */
$color-white:  #ffffff;
$color-black:  #000000;
$color-whiteTrans70: rgba(255,255,255,0.7);
$color-blackTrans70: rgba(0,0,0,0.7);
$color-lightgrey: #F2F2F2;
$color-action: #6D17B6;
$color-actionHover: #540399;
$color-actionClick: #000000;
$color-graygradient: linear-gradient(0deg, $color-white 0%, $color-black 100%);

/* Shadows */
@mixin big-shadow { box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1); }
@mixin small-shadow { box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15); }

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,700,700i');


/* Animation */
@mixin transition ($property) {
  transition: $property .15s ease;
}

@keyframes fadeIn {
    0%    { opacity: 0; }
    100%  { opacity: 1; }
}

/* Base Layout & Style */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  color: inherit;
}

html, body {
  background: $color-white;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', helvetica, arial, sans-serif;
  line-height: 1.6;
  color: $color-black;
}

#root {
  text-align: left;
  overflow: hidden;
}


/* Section Structure */

header  { width: 100%; padding: 0; margin: 0; }
section { width: 100%; padding: 64px 0; margin: 0; }
footer  { width: 100%; padding: 40px 0; margin: 0; }

.margins {
  margin: 0 auto;
  padding: 0 16px;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .column {
    img { width: 100%; }
  }

  &.one   { .column { width: 100% } }
  &.two   { .column { width: 100% } }
  &.three { .column { width: 100% } }
  &.four  { .column { width: 100% } }

  .column-left { width: 100%  }
  .column-right { width: 100%  }
}

/* Basic Type & Elements */

h1, h2, h3, h4, h5, h6, a, p, span, button, ul, li { color: inherit; }
h1, h2, h3, h4, h5, h6 { font-family: 'Roboto', helvetica, arial, sans-serif; font-weight: 700; line-height: 1.3; }
h1 {
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  margin: 0 0 24px;
  span { font-weight: 700; display: block; }
}
h2 {
  font-size: 24px;
  line-height: 32px;
  margin: 0 0 24px;
  span { display: block; }
}
h3 { font-size: 20px; margin: 0; }
p  { font-size: 16px; line-height: 24px; margin: 0 0 24px; }
img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

/* Special Patterns */

.button { display: block; }

button, .button {
  border: none;
  outline: none;
  background-color: $color-action;
  color: $color-white;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 16px 24px;
  width: 100%;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
  transition: .1s all ease-in-out;
  &:hover { background-color: $color-actionHover; }
  &:active { background-color: $color-actionClick; }
}

/* Section-specific */


header {
  position: relative;
  z-index: 10;
  background-color: rgba(255,255,255,0.9);
  display: flex;
  justify-content: space-between;
  padding: 24px 32px;
  border-bottom: 1px solid $color-lightgrey;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  .logo {
    width: 100px;
    background: url(../../img/logo.svg) left center no-repeat;
  }
  nav {
    display: flex;
    justify-content: flex-end;
    .link-button {
      font-size:14px;
      line-height: 16px;
      padding: 8px 32px 8px 0;
      text-decoration: none;
      color: $color-blackTrans70;
      transition: .1s color ease-in-out;
      &:hover { color: $color-black; }
    }
    .button { display: inline-block; font-size:14px; line-height: 16px; padding: 8px 32px; }
  }


}

.theme1 { /* White */
  background-color: $color-white;
  color: $color-blackTrans70;
  h1, h2 { color: $color-black; }
}

.theme2 {
  background-color: $color-lightgrey;
  color: $color-blackTrans70;
  h1, h2 { color: $color-black; }
}

.theme3 { /* Purple */
  background-color: $color-action;
  color: $color-whiteTrans70;
  h1, h2 { color: $color-white; }
}

.hero {
  position: relative;
  height: auto;
  padding: 80px 0 80px;
  .platforms {
    position: relative;
    //bottom: 48px;
    width: 100%;
    padding: 0 0 0 28px;
    margin: 32px 0 0 0;
    background: url(../../img/icon-android.svg) left center no-repeat;
  }
}

footer {
  background-color: $color-black;
  a {
    img {
      margin: 0 auto;
    }
  }
}


@media screen and (min-width: 700px) {

  h1 {
    font-size: 46px;
    font-weight: 300;
    line-height: 55px;
    margin: 0 0 24px;
  }
  h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 24px;
  }
  h3 { font-size: 24px; margin: 0; }

  header { position: fixed; }
  section { padding: 120px 0; }

  .margins {
    padding: 0;
    width: 90%;

  }

  .columns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &.centered {
      text-align: center;
      margin-bottom: 24px;
      .column { margin: 0 auto; width: 50%; }
    }
    .column {

    }
    &.two   {
      .column { width: 50%; }
    }
    &.three {
      .column { width: 33.33%; }
    }
    &.four  { .column { width: 25%; } }
  }

  .columns-narrow { width: 75%; margin: 0 auto; }
  .columns-extranarrow { width: 66%; margin: 0 auto; }

  .column-left { padding-right: 30%; }
  .column-right { padding-left: 30%; }
  .column-text {  }
  .columns {
    .column-text { padding: 0 48px 0 0; }
  }
  .columns-reversed {
    flex-direction: row-reverse;
    .column-text { padding: 0 16px 0 48px; }
  }

  button, .button { width: auto; }

  .hero {
    height: 70vh;
    padding-top: 22vh;
    .platforms {
      position: absolute;
      bottom: 48px;
      width: 100%;
    }
  }

}

@media screen and (min-width: 1025px) {

  section { padding: 160px 0; }

  .margins {
    padding: 0;
    width: 960px;

  }

  .columns {
    .column-text { padding: 0 72px 0 0; }
  }
  .columns-reversed {
    flex-direction: row-reverse;
    .column-text { padding: 0 0 0 72px; }
  }

  .column-left { padding-right: 360px; }
  .column-right { padding-left: 60%; }

  .hero { height: 90vh; padding-top: 30vh }

}

@media screen and (min-width: 1440px) {

  .margins {
    padding: 0;
    width: 1200px;
  }

  .columns {
    .column-text { padding: 0 152px 0 0px; }
  }
  .columns-reversed {
    flex-direction: row-reverse;
    .column-text { padding: 0 48px 0 104px; }
  }

  .column-left { padding-right: 750px; }
  .column-right { padding-left: 60%; }

}
